# 🟩 CODEOWNERS
>EBrigade OS V2
# Unité Logicielle EBrigade
>Attribution des responsabilités (fictif)

# Dossier principal
/ @teremuhamblin 

# Scripts Bash
/scripts/ @teremuhamblin 

# Assets graphiques et TUI
/assets/ @teremuhamblin 

# Documentation
/docs/ @teremuhamblin 

# Fichiers système
/*.md @teremuhamblin 
